// Glyphicons font path
$icon-font-path:        "../fonts/";

// Colors
$brand-primary:         #27ae60;
$dark-blue: #10192D;
$med-blue: #344D80;
$white-blue: #E7F0FB;
$link-blue: #697BA1;
$link-hover-blue: #485571;
$translucent-black: rgba(0, 0, 0, 0.5);
