footer {

  background-color: $med-blue;
  color: white;
  margin-top: 50px;

  a:link, a:hover, a:visited {
    color: $white-blue;
  }

  .widget {
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
    }
    h3 {
      margin-top: 50px
    }
  }

  .copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    padding-bottom: 25px;
    p {
      margin: 0;
    }
  }
}
