.single {
  article {
    header {
      width: 100%;
      min-height: 160px;
      background-size: cover;
      background-position: center;
      position: relative;
      margin: 50px 0 15px 0;
      padding: 10px 10px;
      color: white;
      text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
    p:first-of-type {
      clear: both;
    }
  }
}

article {

  margin-bottom: 70px;

  .featured-image {
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-right: 20px;
  }

  .entry-content {
    img, .size-full, .size-large, .size-medium, .alignnone {
      max-width: 50%;
      display: block;
      margin: 10px auto;
    }
    figure {
      max-width: 50%;
      display: block;
      margin: 10px auto;
      background: none;
      border: none;
      img, .size-full, .size-large, {
        width: 100%;
      }
      figcaption {
        text-align: center;
        margin-top: 0;
        padding-top: 0;
        font-style: italic;
      }
    }
  }

  iframe {
    max-width: 95%;
    margin: 0 auto;
    display: block;
  }
}

.main article:nth-of-type(even) {

  .featured-image {
    float: right;
    margin-right: 0px;
    margin-left: 20px;
  }

}

.nav-previous {
  float: right;
}

.nav-next {
  float: left;
}

.post-nav {
  margin: 50px 0;
  .prev-link {
    text-align: right;
  }
  .next-link {
    text-align: left;
  }
}

@media (max-width: 768px) {

  .main {
    padding: 15px;
  }

  article {

    .featured-image {
      float: none;
      margin: 0 auto;
    }

    .entry-content {
      img, .size-full, .size-large, .size-medium, .alignnone {
        max-width: 100%;
      }
      figure {
        max-width: 100%;
      }
    }
    overflow: hidden;
  }

  .main article:nth-of-type(even) {

    .featured-image {
      float: none;
      margin: 0 auto;
    }

  }

  .post-nav {
    .prev-link, .next-link {
      text-align: center;
    }
  }

}
